@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Outfit", sans-serif;
}

:root {
  /* Container variables */
  --container-padding-default: 1rem;
  --container-padding-sm: 1.5rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 6rem;
  --container-padding-2xl: 8rem;

  --primary-color: #543a14;
  --secondary-color: #f0bb78;
  --white-color: #fff;
  --blue-color: #3a0ca3;
  --dark-color: #131010;
  --black-color: #000;
  --light-bg-color: #f7eeed;
  --error-color: #ef233c;
}
/* nav {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.nextra-sidebar-container {
  margin-top: 1rem !important;
}

._bg-transparent {
  background: #fff;
} */

.nextra-sidebar-footer {
  box-shadow: none !important;
  background: transparent !important;
}

._bg-primary-100 {
  background: var(--primary-color);
}

.hover\:_bg-gray-100:hover {
  background: transparent !important;
}

._text-primary-800 {
  color: var(--secondary-color);
  font-weight: 600;
}
@layer utilities {
}
